.main-container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: 5px auto 0 auto;
  background: ghostwhite;
}

button:disabled {
  cursor: not-allowed;
}

input.ng-touched.ng-invalid {
  border-color: red;
}

.header {
  padding: .75rem 0 0;
  background: snow;
  border-bottom: 1px solid #80808033;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  list-style-type: none;
  padding-left: 0;
}

.card-header {
  background: lightcoral;
}

.view-pass {
  color: red;
  text-align: right;
  margin: 2% 10% 0;
}
