.main-container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: 5px auto 0 auto;
  background: ghostwhite;
}

.card-header {
  background: darkseagreen;
}

.col-form-label {
  font-size: 1.1rem;
  font-weight: 500;
}
