.main-container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: 5px auto 0 auto;
  background: ghostwhite;
}

button:disabled {
  cursor: not-allowed;
}

input.ng-touched.ng-invalid {
  border-color: red;
}

input.ng-pending {
  border: 1px solid yellow;
}

.user-info {
  text-align: right;
  margin-right: 5%;
}
