<div class="main-container">
  <div class="card-header">Create New User</div>
  <div class="card-body-my">
    <form
      novalidate
      (ngSubmit)="submit()"
      [formGroup]="userForm">
      <fieldset>
        <div class="form-group row-my"
             [ngClass]="{'has-error': (userForm.get('userName').touched || userForm.get('userName').dirty) && !userForm.get('userName').valid}"
        >
          <label class="col-sm-4 col-form-label-my" for="userNameId">
            User Name
          </label>
          <div class="col-sm-12">
            <input class="form-control-my"
                   id="userNameId"
                   type="text"
                   placeholder="username (required)"
                   formControlName="userName">
            <span class="form-text text-muted"
                  *ngIf="(userForm.get('userName').touched || userForm.get('userName').dirty) && userForm.get('userName').errors">
              <span *ngIf="userForm.get('userName').errors.asyncRequiredUsername">
                Please enter username.
              </span>
              <span *ngIf="userForm.get('userName').errors.LettersUserName">
                Please enter correct username.
              </span>
              <span *ngIf="userForm.get('userName').errors.asyncCamelCaseUsernameInvalid">
                Please enter ONE or TWO words. First letters must be in uppercase.
              </span>
              <span *ngIf="userForm.get('userName').errors.asyncUsernameInvalid">
                Please enter another username.
              </span>
              <span *ngIf="userForm.get('userName').errors.asyncOnlyLettersUsername">
                Please enter only english letters without number and special symbols.
              </span>
            </span>
          </div>
        </div>
        <div class="form-group row-my">
          <label class="col-sm-4 col-form-label-my" for="userPass">Password</label>
          <div class="col-sm-12">
            <input type="text" formControlName="userPass" class="form-control-my" placeholder="password (required)"
                   [ngClass]="{ 'has-error': submitted && userForm.get('userPass').errors }"/>
            <span class="form-text text-muted" *ngIf="submitted && userForm.get('userPass').errors">
              <span *ngIf="userForm.get('userPass').errors.required">Password is required</span>
            </span>
          </div>
        </div>
        <div class="form-group row-my"
             [ngClass]="{'has-error': (userForm.get('userAge').touched || userForm.get('userAge').dirty) && !userForm.get('userAge').valid}">
          <label class="col-sm-4 col-form-label-my" for="age">
            Age
          </label>
          <div class="col-sm-12">
            <input class="form-control-my"
                   id="age"
                   type="text"
                   placeholder="user age from 18 to 65"
                   formControlName="userAge">
            <span class="form-text text-muted"
                  *ngIf="(userForm.get('userAge').touched || userForm.get('userAge').dirty) && userForm.get('userAge').errors">
              <span *ngIf="userForm.get('userAge').errors.RangeUserAge">
                Please enter correct age from 18 to 65.
              </span>
            </span>
          </div>
        </div>
        <div class="form-group row-my"
             [ngClass]="{'has-error': (userForm.get('userBirth').touched || userForm.get('userBirth').dirty) && !userForm.get('userBirth').valid}">
          <label class="col-sm-4 col-form-label-my" for="dateOfBirth">
            Birthday
          </label>
          <div class="col-sm-12">
            <input class="form-control-my"
                   id="dateOfBirth"
                   type="text"
                   placeholder="YYYY/MM/DD"
                   formControlName="userBirth">
            <span class="form-text text-muted"
                  *ngIf="(userForm.get('userBirth').touched || userForm.get('userBirth').dirty) && userForm.get('userBirth').errors">
              <span *ngIf="userForm.get('userBirth').errors.userDateOfBirth">
                Please enter correct date of birth. Example (2000/11/25).
              </span>
            </span>
          </div>
        </div>
        <div class="form-group row-my">
          <label class="col-sm-4 col-form-label-my" for="userInfo">Information</label>
          <div class="col-sm-12">
            <input type="text" formControlName="userInfo" class="form-control-my" placeholder="Information"
                   [ngClass]="{ 'has-error': submitted && userForm.get('userInfo').errors }">
            <span class="form-text text-muted" *ngIf="submitted && userForm.get('userInfo').errors">
              <span *ngIf="userForm.get('userInfo').errors.required">Info is required</span>
            </span>
          </div>
        </div>
        <div class="form-group row-my">
          <label class="col-sm-4 col-form-label-my" for="admin">admin</label>
          <div class="col-sm-12">
            <input type="text" formControlName="admin" class="form-control-my" placeholder="true / false"
                   [ngClass]="{ 'has-error': submitted && userForm.get('admin').errors }"/>
            <span class="form-text text-muted" *ngIf="submitted && userForm.get('admin').errors">
              <span *ngIf="userForm.get('admin').errors.required">Admin is required</span>
            </span>
          </div>
        </div>
        <button class="btn btn-primary"
                type="submit"
                [disabled]="!userForm.valid">
          create
        </button>
      </fieldset>
    </form>
  </div>
</div>
