<header class="header">
  <nav>
    <ul>
      <li class="flex-div">
        <span class="right-margin" *ngFor="let link of links" routerLinkActive="active">
          <a [routerLink]="[link.url]">{{link.name}}</a>
        </span>

      </li>
      <li class="flex-div">
        <span class="right-margin">
          <a [routerLink]="['/login']" (click)="logout()">logout</a>
        </span>
        <span>TRANSLATE</span>
      </li>
    </ul>
  </nav>
</header>

<main class="content">
  <router-outlet></router-outlet>
</main>
