.header {
  padding: .75rem 0 0;
  background: snow;
  border-bottom: 1px solid #80808033;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  list-style-type: none;
  padding-left: 0;
}

.flex-div {
  display: flex;
}

.right-margin {
  margin-right: 30px;
}
